/****** Object:  Table [dbo].[tag]    Script Date: 02/03/2010 16:51:03 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tag]') AND type in (N'U'))
DROP TABLE [dbo].[tag]
GO
/****** Object:  Table [dbo].[person]    Script Date: 02/03/2010 16:51:03 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[person]') AND type in (N'U'))
DROP TABLE [dbo].[person]
GO
/****** Object:  Role [apptacular_user]    Script Date: 02/03/2010 16:51:03 ******/
IF NOT EXISTS (SELECT * FROM sys.database_principals WHERE name = N'apptacular_user')
BEGIN
IF NOT EXISTS (SELECT * FROM sys.database_principals WHERE name = N'apptacular_user' AND type = 'R')
CREATE ROLE [apptacular_user]

END
GO
/****** Object:  Table [dbo].[person]    Script Date: 02/03/2010 16:51:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[person]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[person](
	[userID] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[firstName] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[lastName] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[email] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[url] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[portrait] [image] NULL,
	[resume] [varbinary](max) NULL,
	[createdOn] [datetime] NULL,
	[updatedOn] [datetime] NULL,
 CONSTRAINT [PK_person] PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
SET IDENTITY_INSERT [dbo].[person] ON
INSERT [dbo].[person] ([userID], [username], [firstName], [lastName], [email], [url], [portrait], [resume], [createdOn], [updatedOn]) VALUES (2, N'khoyt', N'Kevin', N'Hoyt', N'khoyt@adobe.com', N'', NULL, NULL, CAST(0x00009D1000E9D725 AS DateTime), CAST(0x00009D1001252E2C AS DateTime))
SET IDENTITY_INSERT [dbo].[person] OFF
/****** Object:  Table [dbo].[tag]    Script Date: 02/03/2010 16:51:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tag]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[tag](
	[tagid] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[createdOn] [datetime] NULL,
	[updatedOn] [datetime] NULL,
 CONSTRAINT [PK_tag] PRIMARY KEY CLUSTERED 
(
	[tagid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
SET IDENTITY_INSERT [dbo].[tag] ON
INSERT [dbo].[tag] ([tagid], [name], [createdOn], [updatedOn]) VALUES (1, N'ColdFusion', CAST(0x00009D10012442ED AS DateTime), CAST(0x00009D10012442ED AS DateTime))
SET IDENTITY_INSERT [dbo].[tag] OFF
